<div class="message-wrapper">
  <div class="message">
    <h1><%= t('message.title') %></h1>
    <div class="message-text"><%= t('message.text') %></div>
    <div class="message-icon-wrapper">
      <%= image_tag('email.png') %>
    </div>
  </div>
</div>
