<div class="leads">
  <div class="content">
    <div class="logo-wrapper">
      <%= image_tag('logo.png') %>
    </div>
    <p class="title"> <%= t('landing.title') %> </p>
    <p class="caption"> <%= t('landing.caption') %> </p>

    <div class="form-wrapper">
      <%= render 'form', lead: @lead %>
    </div>
  </div>
</div>
