<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t('message.title') %></h1>
<p>
  <%= t('message.confirmation_message') %>
</p>
</body>
</html>